<div class="build-panel-wrapper text-gray-100">
  <div class="equipment-header flex items-center justify-center">
    Equipment
  </div>
  <div class="equipment-list mx-6 h-5/6">
    <rat-select
      [config]="equipmentSelectConfig"
      (selectChange)="handleEquipSelectChange($event)"
    ></rat-select>
  </div>

  <div class="eq-movement-buttons flex flex-col justify-center text-4xl h-5/6">
    <div class="w-16 h-16">
      <rat-button
        text="⇒"
        [disabled]="currentSelectedEquipment === undefined"
        (click)="equipCurrentSelection()"
      >
      </rat-button>
    </div>
    <div class="my-2"></div>
    <div class="w-16 h-16">
      <rat-button
        text="⇐"
        [disabled]="currentSelectedEquipped === undefined"
        (click)="removeCurrentSelection()"
      >
      </rat-button>
    </div>
  </div>

  <div class="equipped-header flex flex-col items-center justify-center">
    Equipped
    <div
      class="text-sm"
      [class.text-red-500]="shipEquipmentCount > maxShipEquipment"
    >
      {{shipEquipmentCount}} / {{maxShipEquipment}}
    </div>
    <ng-container *ngIf="goldForAnotherEquipmentSlot !== undefined">
      <div class="flex text-sm rounded-lg shadow-lg p-1"
           title="Buy more equipment slots."
           [ngClass]="buyEquipmentSlotButtonClasses"
           (click)="buyEquipmentSlot()">
        Buy more:
        <img src="assets/sprites/gold.png"
             class="mx-2"
             width="20px"/>
        {{goldForAnotherEquipmentSlot}}
      </div>
    </ng-container>
  </div>
  <div class="equipped-list mx-6 h-5/6">
    <rat-select
      [config]="equippedSelectConfig"
      (selectChange)="handleRemoveSelectChange($event)"
    >
    </rat-select>
  </div>

  <div class="ship-header flex items-center justify-center">
    Ship stats
  </div>
  <div class="ship-stats mx-6 h-5/6">
    <rat-ship-stats-diff [prev]="currentInventory" [next]="nextInventory">
    </rat-ship-stats-diff>
  </div>
</div>
