<div class="text-sm select-none">
  <div *ngIf="isFree">
    {{isWallet ? 'Empty' : 'Free'}}
  </div>
    <ng-container *ngIf="!isFree">
    <div *ngFor="let key of costKeys"
        class="flex items-center">
      <img *ngIf="iconSrc(key); let src"
           class="cursor-context-menu inline transform scale-50 h-6 pixelated" 
           [attr.src]="src"
           [attr.title]="titleCase(key)">
      <ng-container *ngIf="cost[key] > 0">
        {{cost[key]}}
      </ng-container>
      <span *ngIf="salePrice !== undefined && salePrice[key] > 0"
            class="mx-2 cursor-context-menu"
            [attr.title]="tooltip(key)">
        (sell for {{salePrice[key]}})
      </span>
    </div>
  </ng-container>
</div>