<div class="rounded-lg h-56 w-48 m-2 shadow-lg select-none"
     [ngClass]="baseClasses">
  <span class="rounded-t-lg p-2 flex 
               justify-center align-center
               cursor-context-menu"
        [attr.title]="rarityString"
        [ngClass]="imageBannerClasses">
    <img class="transform scale-150" [attr.src]="item.imageUrl">
  </span>

  <div class="m-2">
    {{item.name}}
    <div class="border-b border-gray-700 my-1 mr-16"></div>
    <div *ngIf="quantityString.length > 0" 
         class="text-sm">
      {{quantityString}}
      <div class="border-b border-gray-700 my-1 mr-16"></div>
    </div>
    <rat-item-stats [item]="item">
    </rat-item-stats>
    <div class="border-b border-gray-700 my-1 mr-16"></div>
    <rat-item-cost [cost]="item.cost">
    </rat-item-cost>
  </div>
</div>