<div
  class="rounded-t-lg bg-gray-900 text-2xl"
  [class.hidden]="hidden"
  [style.width]="screenDimensions.x + 'px'"
  [style.height]="screenDimensions.y + 'px'"
>
  <div class="w-full rounded-t-lg">
    <rat-tab-group [config]="tabGroupConfig"
                   (tabSelected)="handleTabSelected($event)">
    </rat-tab-group>
  </div>
  <div class="h-full">
    <rat-shop-panel *ngIf="shouldShowShopPanel"
                     [gameState]="gameState$ | async"
                     (gameStateChange)="handleGameStateChange($event)">
    </rat-shop-panel>
    <rat-build-panel *ngIf="shouldShowBuildPanel"
                     [gameState]="gameState$ | async"
                     (gameStateChange)="handleGameStateChange($event)">
    </rat-build-panel>
  </div>
</div>
