<rat-tab-group [config]="equipmentTabGroupConfig"
                (tabSelected)="handleEquipmentTabSelected($event)">
</rat-tab-group>

<div class="flex h-5/6 m-2">
  <div class="rounded-lg m-2 w-4/6 h-full bg-gray-400
              flex justify-center flex-wrap 
              overflow-auto">
    <rat-item-card *ngFor="let item of items"
                   class="cursor-pointer"
                   [item]="item"
                   [quantity]="getQuantity(item)"
                   [isSelected]="item === selectedItem"
                   (click)="selectItem(item)">
    </rat-item-card>
  </div>
  <div class="rounded-lg m-2 w-2/6 h-full bg-gray-200 shadow-lg">
    <rat-item-summary [item]="selectedItem"
                      [quantity]="getQuantity(selectedItem)"
                      [canBuy]="canBuySelectedItem"
                      (buyItem)="handleBuyItem()"
                      (sellItem)="handleSellItem()">
    </rat-item-summary>
  </div>
  <div class="flex flex-col w-1/6">
    <div class="rounded-lg h-3/6 bg-gray-800 text-gray-100 p-4 m-2">
      <div class="text-base">
        Your wallet
      </div>
      <rat-item-cost *ngIf="wallet !== undefined"
                    [cost]="wallet"
                    [isWallet]="true">
      </rat-item-cost>
    </div>
    <span class="text-sm h-3/6 text-gray-100">
      {{itemCategoryHelp}}
    </span>
  </div>
</div>