<div
  class="shop-wrapper"
  [class.hidden]="hidden"
  [style.width]="screenDimensions.x + 'px'"
  [style.height]="screenDimensions.y + 'px'"
>
  <div class="context-selector">
    <rat-tab-group [config]="tabGroupConfig"
                   (tabSelected)="handleTabSelected($event)">
    </rat-tab-group>
  </div>
  <div class="context-body">
    <rat-shop-panel *ngIf="shouldShowShopPanel">
    </rat-shop-panel>
    <rat-build-panel *ngIf="shouldShowBuildPanel"
                     [gameState]="gameState$ | async"
                     (gameStateChange)="handleGameStateChange($event)">
    </rat-build-panel>
  </div>
</div>
